*{
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: impact;
    padding: 90px 20px 0;
}

.header{
    background-color: #FFAEBC;
    height: 90px;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav_barra_link{
    -webkit-text-stroke: 1px white;
    
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
}
.nav_barra{
    display: flex;
    margin-right: 25px;
    list-style: none;
    
}
.nav_barra_item{
    font-size: 30px;
    margin: 0 10px;
    line-height: 90px;
    text-transform: uppercase;
}
.nav_barra_link:hover{
    background-color: #FBE7C6;
}