body{
    font-family: Arial, Helvetica, sans-serif;
    color: #DFCB2B;
    font-size: 16px;
    margin: 0;
}

.header{
background:black;
color: blanchedalmond;
padding :2rem 1;
font-family: 'Itim', cursive;
position: fixed;
left: 0;
top:0;
right:0;
font-size: 20px;
}

.header a{
    color: #DFCB2B;
    text-decoration: none;
}

.logo{
letter-spacing: 15px;
font-size: 1.2em;
}

.logo-nav-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.navigation ul li {
   display: inline-block;
}
.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 10px;
 }

 .navigation ul li a:hover {
    background: white;  
 }

 .footer{
     background: black;
     color:#FFFFFF; 
     padding: 2rem 0;
     margin-top: 1rem;
 }

  nav.row{
      display: flex;
      flex-wrap: wrap;
      font-size: 18px;
      text-transform: capitalize;
  }
 ul{
     list-style: none;
     margin: auto;
     
 }
 
 
.main{
    padding-top: 5rem;
}

.Buscador{
   position: fixed;
   top: 4%;
   left: 50%;
   transform: translate(-50%, -50%);
}

input.src{
    
    margin-top: 1rem;
    padding: 9px 500px 10px 100px;
    background: #DED5BA url("lupa.png") no-repeat 100px center;
    outline: none;
    font-size: 20px;
    border-radius: 25px;
    border: 3px solid #DED5BA;
    transition: all .5s;   
}


input.src hover{
   width:180px;
   background-color: #DED5BA;
   border-color: #DED5BA;
}
input.bot{
padding: 9px 10px 10px 10px;
width: 7%;
position: fixed;
margin-top: 1rem;
left: 71%;
background-color: burlywood;
border-radius: 25px;
border: 3px solid #DED5BA;
font-family: 'Itim', cursive;
font-size: 15px;
}

select.combo{
   padding: 9px 10px 10px 10px;
   width: 7%;
   position: fixed;
   margin-top: 1rem;
   left: 64%;
   background-color: burlywood;
   border-radius: 25px;
   border: 3px solid #DED5BA;
   font-family: 'Itim', cursive;
   font-size: 13px;
}


.BusquedaAvanzada{
    font-family:sans-serif;
    color: black;
    bottom:20%;
    position: fixed;
    width:200px;
    background-color: burlywood;
    padding: 30px;
    margin: auto;
    margin-top: 200px;
    border-radius: 15px;
    
 }
 
 .buscAv{
     width: 100%;
     margin-left: -10px;
     background: #DED5BA no-repeat 100px center;
     outline: none;
     font-size: 20px;
     border-radius: 25px;
     border: 3px solid #DED5BA;
     margin-bottom: 40px;
 
 
 }
 
 .comboAv{
    bottom:52%;
    width: 10%;
    position: fixed;
    background-color:  3px solid #DED5BA;
    border-radius: 25px;
    border: 3px solid #DED5BA;
    font-family: 'Itim', cursive;
    font-size: 13px;
    left: 50px;
 
 }
 
 .botAv{
     width: 10%;
     position: fixed;
     left: 3.5%;
     background-color:#DFCB2B;
     border-radius: 25px;
     border: 3px solid #FFFFFF;
     font-family: 'Itim', cursive;
     font-size: 15px;
 
     }
 
 input.filt{
    color: #DFCB2B;
    font-size: 16px; 
    padding: 2px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 20px;
 
 }

.Login{
    width: 400px;
    background: rgba(194, 140, 41, 0.747);
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    color: black;
    font-family: 'Truculenta', sans-serif;    
}
.Login h4{
    font-size: 30px;
    margin-bottom: 20px;
    
}

.controls{
width: 100%;
background-color: #DED5BA;
padding: 8px;
border-radius: 15px;
margin-bottom: 16px;
border: 1px solid black;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 18px;

}

.Login p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.Login a{
    color:black;
    text-decoration: none;
    font-size: 20px;
}

.Login a:hover{
    color:white;
    text-decoration: underline;  
}

.Login .boton{
    font-family: 'Itim', cursive;
    width: 100%;
    background-color: #DFCB2B;
    border: none;
    padding:12px;
    color: black;
    margin:16px 0;
    font-size: 30px;
    border-radius: 25px;
}