@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
*{
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: impact;
     height: 100%;
   margin: 0;
}

.header{
    background-color: #FFAEBC;
    height: 90px;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    right:0;
    
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav_barra_link{
    -webkit-text-stroke: 1px white;
    
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
}
.nav_barra{
    display: flex;
    margin-right: 1px;
    list-style: none;
    
}
.nav_barra_item{
    font-size: 26px;
    margin: 0 10px;
    line-height: 90px;
    text-transform: uppercase;
}
.nav_barra_link:hover{
    background-color: #FBE7C6;
}
.subbarra{
     list-style: none;
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 }
 
 .subbarra li a{
     list-style: none;
     background-color: #FFAEBC;
     text-decoration: none;
     display:block;
     -webkit-text-stroke: 1px white;
    color: black;
     text-align: center;
 }
 
 .subbarra li a:hover{
    background-color: #FBE7C6;
}


 .nav_barra li ul{
    display:none;
     position:absolute;
 }

 .nav_barra li:hover > ul{
     display:block;
 }

.Barra_busqueda{
     position: fixed;
   top: 4%;
   left: 31%;
   transform: translate(-50%, -50%);
    margin-top: 1rem;
    padding: 8px 80px;
    background-color: #FBE7C6;
    outline: none;
    font-size: 20px;
    border-radius: 25px;
    border: 3px solid #FBE7C6;
    transition: all .5s;   
     font-family: 'Truculenta', sans-serif;
 }
 
 .btn_buscar{
     padding: 8px 10px;
     width: 6%;
     top: 1%;
     position: fixed;
     margin-top: 1rem;
     left: 43.5%;
     background-color: #FFE1AE;
     border-radius: 25px;
     border: 3px solid #FFE1AE;
     font-size: 15px;
     font-weight: bold;
      font-family: 'Truculenta', sans-serif;
 }

 .footer{
    background:#FFAEBC;
     color:black; 
     padding: 2rem 0;
     margin-top: 5rem;
     font-family: 'Truculenta', sans-serif; 
 }

  nav.row{
      display: flex;
      flex-wrap: wrap;
      font-size: 18px;
      text-transform: capitalize;
  }
  ul {
    list-style: none;
    margin: auto;
}


.PERFIL{
    width: 700px;
    background: #FFE1AE;
    padding: 27px;
    margin: auto;
    margin-top: 110px;
    border-radius: 20px;
    color: black;
    font-family: 'Truculenta', sans-serif;  
    align-items: center;
    justify-content: center;
}

.PERFIL h3{
    font-size: 25px;
    margin-bottom: 15px;
    -webkit-text-stroke: 1px white;
    font-family: impact;
    text-align: center; 
    display: flex;
   justify-content: center;
}


.img2{
display:block;
margin:auto;
}

.input-foto{
    position:relative;
	top:-3px;
	left:0px;
	right:0px;
	bottom:-12px;
	width:100%;
	height:100%;
	opacity: 0;
   
}


p#texto{
    margin-top: -37px;
	text-align: center;
	color:black;
        font-family: 'Truculenta',sans-serif; 
        top:-60px;
       
}
div#divPLACEHOLDER{
    text-align: center;
          margin:auto;
        margin-top: 10px;
	margin:auto;
        margin-top: 8px;

	width:150px;
        position:static;
	background-color: #B4F8C8;
        height:50px;
	-webkit-border-radius:5px;
        margin-bottom: 10px;
}
 
label {
  padding: 12px 10px 12px 40px;
  display: inline-block;
}

.input2[type=text]{
  width: 85%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
 

.input-48{
    color: black;
    width: 48%;
    font-family: 'Truculenta', sans-serif;    

}

.col-753{
margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid black;
    font-family: 'Truculenta', sans-serif;  
}

.fechita{
    width: 85%;
  padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: 'Truculenta', sans-serif;  
}

.Boton_actualizar{
border-radius: 15px;
color:black;
background:#B4F8C8;
width: 100%;
padding: 10px 100px;
margin:10px;
font-family: 'Truculenta',sans-serif; 
font-size: 30px;
outline: none;
border: 0;
}

.errores{
    font-family: 'Truculenta',sans-serif;
-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
   -o-box-shadow: 0 0 10px rgba(0,0,0,0.3);
   background: red;
   box-shadow: 0 0 10px rgba(0,0,0,0.3);
   color:#fff;
   display: none ;
   font-size: 14px;
   margin-top: 20px;
   margin-left: -234px;
   padding: 5px;
   position:absolute;
   
    
}


